.project-content {
  color: #444;
  font-weight: 300;
  line-height: 1.5em;
}

.project-content .block {
  padding: 1em 3em;
}

.project-content .block:first-child {
  margin-top: 1em;
}

.project-content .block:nth-child(2n) {
  background: white;
}

.project-content .block:nth-child(2n+1) {
  background: #f6f6f6;
}

.project-content .block .block-content {
  max-width: 900px;
  margin: auto;
}

.project-content h2 {
  font-size: 1.5em;
  color: #4F504A;
  font-weight: 300;
  padding: 1em;
  text-align: center;
}

.project-content h3 {
  font-size: 1.3em;
  color: #4F504A;
  font-weight: 300;
  padding: 1em;
  text-align: center;
}

.project-content .intro {
  background: #f6f6f6;
  font-weight: 300;
  max-width: 800px;
  margin: auto;
}

.project-content .intro p {
  display: flex;
}

.project-content .intro p strong {
  flex: 1;
  font-weight: 500;
}

.project-content .intro p span {
  flex: 6;
}

.project-content .pic {
  display: block;
  width: 100%;
  text-align: center;
}

.project-content .pic img:hover {
  box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.2);
}

.project-content .pic img {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  box-sizing: border-box;
  transition: box-shadow 400ms;
}

.project-content .table {
  display: flex;
  flex-direction: column;
}

.project-content .table.shrink {
  padding-top: 2em;
}

.project-content .table .row {
  flex: 1;
  display: flex;
  padding-bottom: 1em;
}

.project-content .table .row .cell:first-child {
  padding-left: 0;
}

.project-content .table .row .cell:last-child {
  padding-right: 0;
}

.project-content .table .cell {
  flex: 1;
  margin: auto;
  padding: 2%;
}

.project-content .table .cell.title {
  font-weight: 400;
  text-align: center;
  color: #666;
  font-weight: 200;
  font-size: 1.5em;
  padding: 1em;
}

.project-content .table .cell img {
  width: 100%;
  height: auto;
}

.project-content .table figure {
  margin: 0;
  margin-bottom: 40px;
}
