@import 'common.scss';

main {
  display: flex;
  flex-direction: row;
  margin: 0;
  margin-top: 2em;

  img {
    width: 24vw;
    height: 24vw;
    border-radius: 100%;
    margin: 6vw 10vw 0 13vw;
    padding: 12px;
    border: 2px solid $primary;
  }

  section {
    max-width: 32em;
    margin: 5vw 4vw 5vw 0;
    @include font-size(15);

    div {
      position: relative;
    }

    strong {
      display: inline-block;
      font-weight: 500;
      margin-bottom: 1.6em;
      @include font-size(16);
      letter-spacing: 0.72px;
    }

    button {
      @include font-size(13);
      padding: 5px 9px;
      background: $primary;
      border: 0;
      color: white;
      cursor: pointer;
      position: absolute;
      right: 0;
      top: -0.3em;

      &:hover {
        background: lighten($primary, 5%);
      }

      a {color: inherit;}
    }
  }

  p {
    padding-bottom: 1em;

    // &:nth-of-type(odd) {
    //   position: relative;
    //   left: 5em;
    // }

    &::first-letter {
      color: $primary;
      font-weight: 600;
      @include font-size(20);
    }
  }
}

@media screen and (max-width: 600px) {
  main {
    flex-direction: column;

    img {
      height: 38vw;
      width: 38vw;
      margin: auto;
      padding: 2vw;
    }

    section {
      max-width: none;
      margin: 2em 1em;
    }
  }
}
