@import 'fonts.scss';

@mixin uppercase() {
  font-family: Raleway, AvenirNext, Helvetica, Arial;
  font-weight: 400;
  letter-spacing: 0.84px;
  text-transform: uppercase;
}

@mixin font-size($sizeInPx: 14) {
  font-size: $sizeInPx + px;
  // Browsers default font size is 16px (1rem)
  font-size: ($sizeInPx / 16) + rem;
}

a {
  text-decoration: none;
}

b {
  font-weight: 600;
}

$grey-paragraphs: #656865;
$grey-main: #495159;
$grey-sub: #868288;
$primary: #ec7357;
$primary-tr: #fc8b76;
$secondary: #9dc3d6;
$secondary-light: #f0f6f9;

$p-uncommon: #cf87f9;
$p-delta: #7ca3de;
$p-cooks: #CFB796;
$p-phlint: #92C5D4;
$p-bigsur: #96d0bc;
$p-cafevenetia: #e4e37b;

$tile-margin: 1vw;

* {
  box-sizing: border-box;
  letter-spacing: 0.72px;
}
