@import 'reset.scss';
@import 'common.scss';

$transitionLong: 800ms;

html {
  scroll-behavior: smooth;
}

body {
  font-family: AvenirNext, Helvetica, Arial;
  color: $grey-main;
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #ec73574a;

  &.light {
    background: #fcfcfc;
    header {
      background: rgba(252, 252, 252, 0.92);
    }
  }

  &.project {
    footer {
      transition: opacity $transitionLong*0.5;
      opacity: 0;
    }

    #scrollable {
      transition: opacity $transitionLong*0.5, top $transitionLong*0.5;
      top: -100px;
      opacity: 0;
    }
  }
}

[only-phone] {
  display: none;
}

#sharon {
  cursor: pointer;
}

header {
  position: fixed;
  width: 100%;
  padding: 40px (5vw + $tile-margin);
  font-size: 30px;
  background: rgba(255, 255, 255, 0.92);
  transition: top $transitionLong, opacity $transitionLong;
  z-index: 100;
  backdrop-filter: blur(2px);
  top: 0;

  &.reduced, &.animated {
    transition:
      padding $transitionLong*0.375,
      font-size $transitionLong*0.375,
      box-shadow $transitionLong*0.375,
      background-color $transitionLong*0.1;
  }

  &.animated {
    pointer-events: none;
    box-shadow: 0 !important;
    background-color: rgba(252, 252, 252, 0) !important;

    #progress {
      display: none;
    }
  }

  &.reduced {
    font-size: 20px !important;
    padding-top: 20px !important;
    padding-bottom: 20px !important;

    sub {
      transition: opacity $transitionLong*0.375;
      opacity: 0 !important;
    }
  }

  strong {
    @include uppercase();
    color: $grey-main;
    font-weight: 500;
    letter-spacing: 1.6px;
  }

  > div {
    float: right;
    padding-right: 2vw;

    a {
      text-decoration: none;
      color: #555;
      padding: 0 19px;
      font-size: 16px;
      cursor: pointer;

      &.active {
        color: $primary;
      }
    }
  }

  sub {
    color: $grey-sub;
    display: block;
    padding-top: 18px;
    font-size: 16px;
    position: absolute;
    bottom: 12px;
    pointer-events: none;
  }
}

#scrollable {
  flex: 1;
  position: relative;

  > main#work {
    padding-top: calc(20px + 112px);
  }

  transition: opacity $transitionLong*0.75, top $transitionLong, transform $transitionLong*0.9;
  top: 0;
  opacity: 1;
  transform: scaleY(1);

  &.appears {
    top: 100px;
    opacity: 0;
  }

  &.no-hover {
    pointer-events: none;
  }
}

$max-width: 1300px;

main {
  padding: 20px (2vw + $tile-margin);
  padding-bottom: 0;
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: $max-width;
  opacity: 1;
  letter-spacing: 0.2px;
  line-height: 1.4em;
}

.row {
  flex: 1;
  display: flex;
}

.tile {
  margin: $tile-margin;
  height: 35vw;
  max-height: $max-width / (100/35);
  background: white;
  box-shadow: 0 2px 3px 2px #efefef;
  display: inline-block;
  transform: scale(1);
  transition: transform $transitionLong*0.25, box-shadow $transitionLong*0.25;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  top: 0;

  // &:focus, &:active {
  //   outline: none !important;
  // }

  &.h {
    flex: 1;
  }

  &.v {
    flex: 2;
  }

  &.uncommon {
    background: $p-uncommon;
    img {
      transform: rotate(-24deg) scale(1.2);
    }
  }

  &.delta {
    background: $p-delta;
    img {
      transform: translateY(10px) rotate(11deg) scale(1.1);
    }
  }

  &.bigsur {
    background: $p-bigsur;
    img {
      transform: rotate(0deg) scale(0.8);
    }
  }

  &.cooks {
    background: $p-cooks;
    img {
      transform: rotate(-2deg) scale(1.0);
    }
  }

  &.phlint {
    background: $p-phlint;
    img:first-of-type {
      transform: rotate(0deg) scale(0.8) translate(-9vh, 0);
    }
    img:last-of-type {
      transform: rotate(0deg) scale(0.7) translate(33vh, 8vh);
    }
  }

  img {
    height: calc(100% - 60px);
    width: 100%;
    object-fit: contain;
    position: absolute;
    top: 0;
    left: 0;
    transition: transform $transitionLong*0.625;
    user-select: none;
    pointer-events: none;
  }

  sub {
    height: 60px;
    background: white;
    position: absolute;
    bottom: 0;
    z-index: 2;
    width: 100%;
    padding: 10px 14px;
    transition: height $transitionLong*0.25;
    font-size: 100%;

    h2 {
      @include uppercase();
      color: $grey-sub;
      text-align: left;
      font-size: 0.685em;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    h1 {
      float: left;
      font-size: 1.1em;
      font-weight: 500;
    }

    h3 {
      float: right;
      font-size: 0.75em;
      line-height: 17px;
      color: $grey-sub;
    }
  }

  &:hover, &:active {
    @mixin shadow($color: #bbb) {
      box-shadow: 0 2px 16px 3px lighten($color, 15%);
    }

    z-index: 2;
    @include shadow();

    sub {
      height: 70px;
    }

    &.uncommon {
      @include shadow($p-uncommon);
      img {
        transform: rotate(-18deg) scale(1.32) translate(1vh, 1vh);
      }
    }

    &.delta {
      @include shadow($p-delta);
      img {
        transform: translateY(10px) rotate(8deg) scale(1.18);
      }
    }

    &.bigsur {
      @include shadow($p-bigsur);
      img {
        transform: rotate(1deg) scale(0.9);
      }
    }

    &.cooks {
      @include shadow($p-cooks);
      img {
        transform: rotate(1deg) scale(1.1);
      }
    }

    &.phlint {
      @include shadow($p-phlint);
      img:first-of-type {
        transform: rotate(-1deg) scale(0.84) translate(-11vh, 0em);
      }
      img:last-of-type {
        transform: rotate(6deg) scale(0.7) translate(38vh, 1vh);
      }
    }
  }
}

footer {
  margin-top: 60px;
  padding-bottom: 60px;
  background: #eee;
  display: flex;
  flex-direction: column;

  > * {
    margin-left: auto;
    margin-right: auto;
  }

  a {
    color: $grey-main;
  }

  a:hover {
    color: $primary;
    img {
      transform: scale(1.05);
    }

  }

  div {
    &:first-child {
      font-size: 26px;
      color: $primary;
      margin-top: 40px;
    }

    img {
      margin: 14px 4px;
      width: 36px;
    }
  }

  > img {
    border-radius: 100%;
    width: 180px;
    height: 180px;
    margin-top: 20px;
    object-fit: cover;
  }

  sub {
    color: #666;
    padding-top: 4px;
    font-size: 13px;
  }
}

#totop {
  opacity: 0;

  &.show {
    opacity: 1;
    transition: transform 150ms, box-shadow 150ms, opacity 1000ms;
  }

  cursor: pointer;
  position: fixed;
  bottom: 2em;
  right: calc(2em + 1vw);
  font-size: 0.5em;
  width: 5em;
  height: 5em;
  border: 1px solid white;
  background: #ffffffe0;
  border-radius: 100%;
  overflow: hidden;

  &::before {
    content: 'TOP';
    position: absolute;
    top: 0.7em;
    left: 0;
    color: $secondary;
    font-size: 1.7em;
    width: 100%;
    text-align: center;
  }

  &::after {
    content: '';
    position: absolute;
    bottom: 0em;
    left: -0.5em;
    border: 3em solid transparent;
    border-bottom-color: $secondary;
    border-bottom-width: 2em;
    opacity: 0.7;
  }

  transform: scale(1);
  transition: transform 150ms, box-shadow 150ms, opacity 150ms;

  &:hover {
    // transform: scale(1.05);
    box-shadow: 0 2px 7px 0px #badbe8;
  }
}

@media screen and (max-width: 600px) {
  [not-phone] {
    display: none !important;
  }

  [only-phone] {
    display: initial;
  }

  header, header.reduced {
    font-size: 17px !important;
    padding-top: 14px !important;
    padding-bottom: 14px !important;

    sub {
      display: none;
    }

    > div {
      float: none;
      padding-right: 0;
      padding-top: 12px;
      white-space: nowrap;
      position: relative;
      text-align: center;
      top: 8px;

      a {
        padding: 0 5vw;
      }
    }
  }

  main {
    padding-top: 88px !important;
  }

  .row {
    flex-direction: column;
  }

  .tile {
    height: 75vw;
    box-shadow: 0 1px 2px 1px #efefef;
    margin-bottom: 3vw;

    &:hover, &:active {
      transform: initial;
    }
  }
}
