@import 'common.scss';

$maxwidth: 1260px;

$card-shadow: 2px 6px 30px -3px #22334424;

%card-base {
  box-shadow: $card-shadow;
  border-radius: 8px;
}

$color-above-gradient: #2b6497;

strong {
  font-weight: 600;
}

[noc] {
  pointer-events: none;
}

.full-screen-container-by-sharon-duan-yes-indeed {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111015ab;
  z-index: 101;
  display: flex;
  cursor: zoom-out;

  img {
    margin: auto;
    max-width: 96%;
    max-height: 96%;
    pointer-events: none;
  }
}

#menu {
  --top: 0px;
  --width: 50px;
  position: fixed;
  z-index: 1;
  height: calc(100% - var(--top));
  top: var(--top);
  left: -200px;
  transition: left 600ms;

  &.show {
    left: 0;
  }

  > div {
    @include font-size(14);
    position: relative;
    margin-bottom: 3px;
    max-width: 40px;
    padding: 10px;
    color: transparent;
    margin-left: -8px;
    white-space: nowrap;
    cursor: pointer;
    left: 0;
    text-indent: 11px;
    overflow: hidden;
    background-color: #ffffffbb;
    box-shadow: $card-shadow;
    border-radius: 4px;
    transition: left 300ms, background-color 150ms, color 150ms, max-width 150ms;

    &::first-letter {
      color: $grey-paragraphs;
    }

    &:hover, &.force-expand {
      color: $grey-paragraphs;
      max-width: 180px;
    }

    &:hover {
      left: 5px;
      background-color: white;
    }

    &.primary {
      &::first-letter, &:hover, &.force-expand {
        color: $primary;
      }
    }

    &.current {
      left: 4px;
      background-color: $primary;
      &::first-letter, &:hover, &.force-expand {
        color: white;
      }
    }
  }
}

#prototype-section h1 {
  height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  top: 3em;
  overflow: hidden;
}

.project #menu {
  left: -200px !important;
  transition-delay: 0ms !important;
  transition-duration: 100ms;
}

main {
  padding: 0;
  padding-top: 61px;
  max-width: none;
  overflow: hidden;
}

.missing, missing {
  display: block;
  background: #ccc;
  color: black;
  padding: 10px;
  @include font-size(12);
  border-radius: 4px;
  max-width: 40vw;
  margin: auto;
  min-height: 3em;
  opacity: 0.3;
  border: 0;
  padding: 0;
  box-shadow: inset 0 2px 6px -2px #00000096;
}

.uncommon {
  #banner {
    background: linear-gradient(150deg, #EBB2A2 0%, #8E79F8 100%);
  }
}

.delta {
  #banner {
    background: linear-gradient(150deg, #8ce2c2 0%, #5f84bd 100%);
    background: linear-gradient(150deg, #7dbfd4 10%, #402ea0 100%);
  }
}

.cooks {
  #banner {
    background: linear-gradient(150deg, #d7ca79 0%, #b66e6f 90%);
  }
}

.phlint {
  #banner {
    background: linear-gradient(150deg, #7dbfd4 10%, #402ea0 100%);
    background: linear-gradient(150deg, #8ce2c2 0%, #5f84bd 100%);
  }
}

#banner {
  color: white;
  height: 540px;
  display: flex;
  margin-bottom: 5vw;

  #banner-text {
    width: 40%;
    padding: 5em 3vw 5em 6vw;
    letter-spacing: 0.8px;
    line-height: initial;

    h1 {
      font-size: 2.5em;
      color: inherit;
      padding: 0;
      padding-bottom: 1.5em;
      text-align: left;
      letter-spacing: 1.5px;
    }

    p {
      font-size: 1.25em;
      padding-bottom: 3em;
    }

    button {
      background: none;
      border: 1px solid white;
      color: white;
      border-radius: 8px;
      padding: 11px 18px;
      font-size: 1.25em;
      margin-bottom: 2em;
      cursor: pointer;
      letter-spacing: inherit;
      outline: none;

      &:hover {
        background: #ffffff1a;
      }

      &:active {
        background: #ffffff33;
      }
    }

  }

  #banner-img {
    flex: 1;
    display: flex;
    margin-right: 1em;

    img {
      width: 59vw;
      margin: auto;
      margin-top: 1.5em;
      object-fit: contain;
    }
  }
}

[under-1000] {
  display: none;
}

i {font-style: italic;}

.project-content {
  @include font-size(14.5);
  line-height: 25px;
  color: $grey-paragraphs;

  --h3-right-end: 275px;

  h1 {
    @include uppercase();
    @include font-size(26);
    color: $primary;
    margin-top: 9em;
    margin-bottom: 4em;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.04px;

    &.spaced {
      margin-top: calc(3em + 4vw);
      word-spacing: 8px;
    }
  }

  h2 {
    @include uppercase();
    @include font-size(17);
    font-weight: 600;
    padding: 0;
    text-align: left;
    color: $grey-main;
  }

  h3 {
    @include uppercase();
    @include font-size(19);
    font-weight: 600;
    padding: 0;
    text-align: left;
    color: $grey-main;
    position: relative;
    margin-top: 8.5em;
    margin-bottom: 4em;

    &::before {
      content: " ";
      width: 100px;
      height: 3px;
      background: #ec7357;
      position: absolute;
      top: -17px;
      border-radius: 10px;
    }

    sub {
      @include font-size(14.5);
      color: $grey-paragraphs;
      margin-bottom: -1.7em;
    }
  }

  h4 {
    @include font-size(19);
    color: $grey-main;
    font-weight: 500;
    margin-top: 6em;
    margin-bottom: 3em;

    sub {
      @include font-size(14.5);
      color: $grey-paragraphs;
      width: 44vw;
      text-align: left;
      white-space: normal;
      margin-bottom: -1.7em;
    }

    &.nowrap {
      white-space: nowrap;
    }
  }

  h3 sub, h4 sub {
    text-transform: initial;
    font-weight: normal;
    position: relative;
    display: block;
    top: -26px;
    max-width: 50vw;
    left: calc(6vw + var(--h3-right-end));
    font-family: AvenirNext, Helvetica, Arial;
    padding: 0;
  }

  h1 + h3 {
    margin-top: 0;
  }

  .scene {
    width: 100%;
    object-fit: cover;
    pointer-events: none;
    overflow: hidden;
    max-height: 92vh;
    margin: 6em 0 0 0;

    img {
      height: 100%;
      object-fit: fill;
    }

    &.stretch {
      height: 45vw;
    }
  }

  blockquote {
    @include font-size(20);
    max-width: 600px;
    line-height: 1.5em;
    text-align: center;
    margin: calc(1em + 3vw) auto 2em auto;

    q {
      display: block;
      font-family: Raleway, AvenirNext, Helvetica, Arial;
      @include font-size(18);
      letter-spacing: 1.5px;
      line-height: 32px;
      font-weight: 500;
      padding: 0 1em;
    }

    small {
      display: block;
      font-weight: 400;
      @include font-size(16);
      text-align: right;
      margin-top: 10px;
      position: relative;
      font-family: Raleway, AvenirNext, Helvetica, Arial;
      letter-spacing: 1.13px;

      &::before {
        content: '';
        position: absolute;
        top: 17px;
        margin-left: -30px;
        width: 20px;
        height: 1px;
        background: currentColor;
      }
    }

    .quote-line {
      border: 0;
      position: relative;
      height: 54px;

      img {
        position: relative;
        pointer-events: none;
        width: 0.9em;
      }

      &::before, &::after {
        content: '';
        background: currentColor;
        height: 1px;
        width: 38%;
        position: absolute;
        top: 20px;
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }
  }

  section {
    padding: 0;
    max-width: $maxwidth;
    margin: auto;
  }

  .flow {
    width: auto;
    object-fit: contain;
    margin: auto;
    height: 2.7em;
    position: relative;
    margin-top: -5em;
    margin-bottom: -3em;

    img {
      height: 100%;
      width: 40vw;
      object-fit: contain;
      margin: auto;
      display: block;
      pointer-events: none;
    }
  }

  [pad] {
    padding: 1em;
  }

  [shrink] {
    padding: 0 12vw;
  }

  [shrink2], section > h4, h3 {
    padding-left: 5vw;
    padding-right: 5vw;
  }

  .also-note {
    padding: 4em 22vw 0em 8vw;
    margin-bottom: 2em;
  }

  .big-pic {
    padding: 0 10vw 0 9vw;
    max-width: 80em;
    margin: auto;
    margin-bottom: 2em;

    sub {
      text-align: center;
      display: block;
      margin: 1em 0 3em 0;
    }
  }

  hr {
    border: 0;
    border-bottom: 1px solid #c8c5c9;;
    position: relative;
    width: 94%;
    margin-top: calc(3em + 3vw);
  }

  [data-ab="A"]::before, [data-ab="B"]::before {
    content: "A";
    position: absolute;
    top: 0px;
    left: 7px;
    @include font-size(19);
    font-weight: 500;
  }

  [data-ab="B"]::before {
    content: "B";
  }

  .shadowed > * {
    box-shadow: $card-shadow;
  }

  .rounded * {
    border-radius: 8px;
  }

  .alternate-bg {
    background: linear-gradient(150deg, #faead3 0%, #acc 80%);
    color: $color-above-gradient;
    padding: 6em 0;

    .columns {
      max-width: $maxwidth;
      margin: auto;

      > * {
        margin: 0 1.8vw;

        &.important-p {
          h4 {
            @include font-size(19);
            font-weight: 800;
            padding: 0 0 1em 0;
            width: auto;
            margin: 0;
            color: inherit;
          }

          div {
            font-weight: 500;
          }
        }

        &:first-child {
          margin-left: 5vw;
        }

        &:last-child {
          margin-right: 5vw;
        }
      }
    }

    &.squeezed .columns > * {
      margin: 0 2.5vw;

      &:first-child {
        margin-left: 10vw;
      }

      &:last-child {
        margin-right: 10vw;
      }
    }
  }

  .overview-text {
    width: 50%;
    flex: unset !important;
  }

  .setup {
    padding-left: 8vw;
    h2 {
      @include font-size(16);
    }
    .rows {
      padding-bottom: 2em;
      min-width: 12vw;
    }
  }

  .columns, .columns-static {
    display: flex;
    flex-direction: row;
    flex: 1;
    > * {
      flex: 1;
    }

    &.valign > * {
      margin-top: auto;
      margin-bottom: auto;
    }

    &.halign > * {
      margin-left: auto;
      margin-right: auto;
    }

    h3 sub {
      max-width: 24vw;
      left: calc(150px + 2vw);
    }
  }

  .pics6, .pics {
    display: flex;
    > * {
      flex: 1;
      margin: 0 1vw;
    }

    sub {
      text-align: center;
      display: block;
      margin: 1em 0 3em 0;
    }
  }

  .wrap-5 {
    flex-wrap: wrap;
    display: flex;

    > * {
      flex: 1;
      margin: 0 2vw;
    }

    ul {
      margin-top: 2em;
      margin-bottom: 3em;
      margin-left: 0.2em;

      li {
        &::before {
          color: $primary !important;
        }
      }
    }
  }

  .numbered-bullets ul li {
    &::before {
      content: "" !important;
    }

    sup {
      color: $primary;
      position: absolute;
      left: -22px;

      &::before {
        content: " ";
        border: 1px solid $primary;
        border-radius: 100%;
        height: 20px;
        width: 20px;
        position: absolute;
        left: -7px;
        top: -2px;
      }
    }
  }

  .rows {
    display: flex;
    flex-direction: column;
    flex: 1;
    > * {
      flex: 1;
    }
  }

  .children-spaced > * {
    margin-left: 1em;
    margin-right: 1em;
  }

  .image-and-description {
    display: flex;

    div:first-of-type {
      padding-right: 4em;
      padding-top: 4vw;
    }
  }

  .image-then-text {
    display: flex;

    > * {
      flex: 1;
    }

    div:first-of-type {
      flex: 1.5;
      margin-right: 4em
    }
  }

  ul {
    margin-left: 30px;

    li {
      padding-bottom: 1em;
    }
  }

  ul.strong {
    > li {
      position: relative;

      &::before {
        content: '';
        background-image: url(../projects/common/arrow-secondary.png);
        background-repeat: no-repeat;
        background-size: 15px;
        position: absolute;
        top: 9px;
        left: -25px;
        width: 22px;
        height: 20px;
      }
    }

    ul {
      margin-left: 0.9em;
    }
  }

  ul:not(.strong) {
    > li {
      position: relative;

      &::before {
        content: '|';
        position: absolute;
        top: -1px;
        left: -12px;
        color: $secondary;
        font-weight: 600;
      }
    }
  }

  .grey-cards {
    max-width: 900px;
    margin: auto;
    display: flex;

    &.large-cards {
      max-width: none;

      .grey-card {
        margin: 0 1vw;

        &:first-of-type {
          margin-left: 0;
        }

        &:last-of-type {
          margin-right: 0;
          margin-bottom: 0 !important;
        }
      }
    }

    &.real-height .grey-card {
      height: 100%;
    }

    &.squeezed .grey-card {
      margin: 0 1vw;
    }
  }

  .grey-card {
    @extend %card-base;
    color: $grey-paragraphs;
    margin: 0 2vw;
    flex: 1;
    overflow: hidden;

    > * {
      padding: 1.5em 1.3em;
    }

    h4 {
      padding: 1.2em 0 0.3em 0;
      text-align: center;
      font-weight: 400;
      color: $secondary;
      margin: 0;
      width: 100%;
      @include font-size(18);

      + ul {
        padding-top: 1em;
      }
    }

    p {
      padding: 2em;
    }
  }

  .grey-card-primary {
    @extend %card-base;
    background: white;
    color: $grey-paragraphs;
    overflow: hidden;
    flex: 1.2;
    height: 100%;

    > * {
      padding: 1em;
    }

    h4 {
      @include font-size(18);
      padding: 1.2em 1em 0.3em 1em;
      text-align: center;
      font-weight: 400;
      color: $secondary;
      margin: 0;
      width: 100%;
    }
  }

  .strong-quote {
    font-weight: 500;
    @include font-size(19);
    text-align: center;
    padding-top: 6em;
  }

  .orange-card {
    background: $primary-tr;
    color: white;
    display: flex;
    padding: 1em;

    > h4 {
      font-weight: 600;
      color: inherit;
      text-transform: initial;
      margin: 0;
      padding-left: 2em;
      padding-right: 2em;
    }

    > div {
      flex: 1;
      padding-right: 2em;
    }

    strong {
      font-weight: 600;
    }
  }

  .persona {
    position: relative;
    margin: auto;
    margin-bottom: 2em;

    h4 {
      display: inline-block;
      width: 100%;
      left: calc(-100% - 1em);
      margin: 1em 0;
    }

    div {
      position: relative;
      height: 100%;
    }

    img {
      height: 100%;
      box-shadow: $card-shadow;
    }

    &.persona-main {
      width: 40vw;
    }

    &.persona-other {

      .persona-group {
        margin: auto;
        display: flex;
        flex: unset;
      }

      .persona-one {
        margin: 0 calc(4vw + 1.5em);
      }

      img {
        width: 100%;
        height: auto;
      }
    }

    &.persona-with-the-bigger-one-on-da-middle {
      .persona-one {
        margin: 0 1.2vw;
        flex: 1;
      }

      .persona-one:nth-child(2) {
        flex: 1.24;
        position: relative;
        top: -2vw;
      }
    }
  }

  .quote {
    background: #fc8b76;
    color: white;
    @include font-size(20);
    padding: 1.5em;
    text-align: center;
    margin: 1em 0em;
  }

  .table-1 {
    width: 60vw;
    margin: auto;

    h4 {
      text-align: right;
    }

    td {
      padding: 1.2em;
    }
  }

  .palette {
    color: white;
    display: flex;
    padding: 1em 2vw;

    > div {
      flex: 1;
      margin: 2px;
      display: inline-block;
      padding: 1vw 0vw;
      text-align: center;
      font-size: 0.8vw;
    }
  }

  img {
    width: 100%;
    height: auto;
    cursor: zoom-in;
    transform: scale(1);
    opacity: 1;
    transition: transform 150ms, opacity 100ms;
    object-fit: contain;

    &[data-img] {
      opacity: 0;
    }

    &:hover {
      transform: scale(1.02);
    }

    &[todo] {
      background: $primary;
    }
  }

  .framed {
    padding: 0.4vw 1vw;
    background: white;
    box-shadow: 0 2px 4px -1px #bbb;
    display: flex;
  }

  .pics3, .digital3 {
    margin-bottom: 2em;

    > * {
      margin: 0 1vw;
      width: 100%;
      height: 15vw;
      display: flex;
      position: relative;

      img, video {
        height: 100%;
      }

      video {
        margin: auto;
        padding: 1vw;
        width: 100%;
      }
    }

    &.tilteds {
      div:first-of-type {
        transform: rotate(-2deg);
      }
      div:last-of-type {
        transform: rotate(2deg);
      }
    }
  }

  .big3 {
    div {
      margin: 0 2vw;
      margin-bottom: 2em;
    }

    img {
      object-fit: cover;
      height: 100%;
    }
  }

  .digital3 {
    > * {
      height: 26vw;
    }
  }

  .pics2 > * {
    margin: 1em 3vw;
  }

  .pics2 sub {
    text-align: center;
    display: block;
    margin: 1.8vw 0 3vw 0;
  }

  .photos2 {
    margin-left: 12vw;
    margin-right: 12vw;

    > * {
      margin: 1em 2vw;

      &:first-child {
        transform: rotate(-9deg) translateX(2vw) scale(1.01);
        z-index: 2;
      }

      &:last-child {
        transform: rotate(3deg) translateX(-2vw);
      }
    }
  }

  .directed-tiles {
    display: flex;
    margin-bottom: 2em;

    .directed-tile {
      flex: 5;
      background: white;
      box-shadow: 0 2px 4px 0px #ccc;
      display: flex;
      flex-direction: column;
      border-radius: 4px;

      strong {
        font-weight: 600;
      }

      > * {
        padding: 1em;
        margin: auto 1em;
      }

      * + * {
        border-top: 1px solid #eee;
        flex: 1;
      }

      * ~ * {
        flex: 1;
      }
    }

    .arrow {
      flex: 1;
      height: 1px;
      background: $primary;
      position: relative;
      margin: auto 4px;

      &::before {
        content: '';
        border: 4px solid transparent;
        border-left-color: #ec7357;
        position: absolute;
        top: -3px;
        right: -6px;
        border-left-width: 8px;
      }
    }
  }

  .add-border {
    img {
      border: 1px solid #ccc;
    }
  }

  .add-border-light {
    img {
      border: 1px solid #ddd;
    }
  }

  #final {
    background: linear-gradient(150deg, #faead3 0%, #acc 70%);
    padding: 4em 0px;
    color: $color-above-gradient;
    margin: 10em 0 2em 0;

    .final-row {
      display: flex;
      margin: 4em 1vw;

      &.final-pics3, &.final-pics2 {
        .fpics {
          flex: 3;
          display: flex;
          max-height: 39em;
          margin: auto;

          div {
            position: relative;

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        .ftext {
          flex: 1.3;
          padding: 0 4vw;
          margin: auto;

          .ftitle {
            @include font-size(19);
            padding-bottom: 36px;
            font-weight: 700;
            letter-spacing: 0.84px;
          }

          .fblabla {
            padding-bottom: 6vw;
          }
        }
      }

      &.final-pics2 {
        .fpics {
          flex: 1.5;
        }

        .ftext + .fpics {
          margin-left: 6vw;
        }

        .fpics + .ftext {
          margin-left: 6vw;
        }
      }

      &.condensed {
        margin: 0;
        width: 115%;
        margin-left: -4vw;

        .fpics > div {
          margin-right: -2vw;
        }

        .ftext {
          padding: 0 5vw 0 3vw;
        }
      }
    }

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    blockquote {
      margin: 0 auto;
      padding: 3em 1em;
    }
  }

  .protoquote {
    background: $secondary;

    blockquote {
      margin: 0 auto;
      padding: 3em 0 4em 0;
    }
  }

  #proto:not([static]) {
    --ratio: 0.7;
    --ifw: 442px;
    --ifh: 935px;
    --pad-top: 5.5em;
    --pad-bottom: 0em;
    position: relative;
    height: calc(var(--ifh) * var(--ratio) + var(--pad-top) + var(--pad-bottom));
    padding-bottom: 3em;
    padding-top: 7em;
    box-sizing: initial;

    h3 {
      margin-top: 0;
      margin-bottom: 0;
    }

    iframe {
      position: absolute;
      transform: scale(var(--ratio));
      top: calc((var(--ifh) / -2) * (1 - var(--ratio)) + var(--pad-top));
      left: calc(50% - (var(--ifw) / 2));

      &:not([src]) {
        background: #0000002b;
        border-radius: 16px;
        box-shadow: inset 0 2px 12px 1px #00000057;
      }
    }
  }
}

.major-image-title {
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  height: 450px;
  margin: 6em 0;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4b442c80;
  }

  h3 {
    color: white;
    top: 7em;

    &::before {
      background: white;
    }

    sub {
      max-width: 45vw;
      left: calc(10vw + var(--h3-right-end));
      color: white;
    }
  }
}

#progress {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background: none;

  div {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background: $primary;
    opacity: 0.6;
  }
}

#next, #prev {
  display: none !important; // disabled
  position: absolute;
  top: 17px;
  cursor: pointer;
  transition: max-width 160ms, background-color 200ms 100ms, padding 1000ms;
  background-color: transparent;
  color: $primary;
  box-sizing: initial;
  padding: 6px 16px;
  border-radius: 4px;
  z-index: 10;
  max-width: 0px;
  text-indent: 16px;
  @include font-size(16);
  white-space: nowrap;
  overflow: hidden;

  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 9px;
    height: 1px;
    background-color: $grey-main;
  }

  &:hover, &.force-open {
    padding: 6px 12px;
    background-color: white;
    box-shadow: $card-shadow;
    max-width: 11em;
    transition: max-width 200ms, background-color 200ms;
    &::before, &::after {
      background-color: $primary;
    }
  }

  img {
    height: inherit;
  }

  > div {
    @include font-size(16);
    display: inline-block;
    position: relative;
    top: -3px;
    color: white;
  }

  &#next {
    right: 0.8vw;
    direction: rtl;
    border-right: 0;

    img {
      transform: scaleX(-1);
    }

    > div {
      padding-right: 10px;
    }

    &::before {
      right: 10px;
      top: 11px;
      transform: rotate(46deg);
    }

    &::after {
      right: 10px;
      top: 17px;
      transform: rotate(-46deg);
    }
  }

  &#prev {
    left: 0.8vw;
    border-left: 0;

    > div {
      padding-left: 10px;
    }

    &::before {
      left: 10px;
      top: 11px;
      transform: rotate(-46deg);
    }

    &::after {
      left: 10px;
      top: 17px;
      transform: rotate(46deg);
    }
  }
}

.project {
  #next, #prev {
    opacity: 0;
  }
}

@media screen and (max-width: 1000px) {
  [under-1000] {
    display: initial;
  }

  .project-content {
    .pics6 > * {
      width: calc(25% - 4vw);
      flex: unset;
    }
    .wrap-5 > * {
      width: calc(33% - 4vw);
      flex: unset;
    }
  }
}

@media screen and (max-width: 600px) {
  #next, #prev {
    top: 46px;
  }

  #banner {
    flex-direction: column;
    height: 102vw !important;

    #banner-text {
      width: initial;
      text-align: center;
      padding: 1.5em 1em 0 1em;

      h1 {
        @include font-size(28);
        text-align: center;
      }

      p {
        @include font-size(16);
      }

      button {
        @include font-size(14);
      }
    }

    #banner-img {
      margin: 0;
      height: 100%;

      img {
        width: 90%;
        margin: auto !important;
        padding: 0 !important;
        margin-top: 0 !important;
      }
    }
  }

  .project-content {
    h1 {
      @include font-size(21);
      margin-top: 7em;
      margin-bottom: 2em;
    }

    h3 {
      @include font-size(17);
      margin-top: 6em;
    }

    h4 {
      width: auto;
      text-align: left;
      margin-top: 4em;
    }

    h3 sub, h4 sub {
      top: 0.5em;
      margin-bottom: 0.5em;
      left: 0;
      max-width: none;
      width: auto;
      margin-left: 0 !important;
      padding-left: 0 !important;
    }

    img {
      pointer-events: none;
    }

    .mobile-order-1 { order: 1; }
    .mobile-order-2 { order: 2; }
    .mobile-order-3 { order: 3; }

    .columns {
      flex-direction: column;

      > * {
        width: unset;
        flex: 1;
      }

      h3 sub {
        max-width: none;
        left: 0;
      }

      h3 + h3 {
        margin-top: 1em;
        &::before {
          content: none;
        }
      }
    }

    .setup {
      padding: 0;
      padding-top: 2em;
      padding-left: 2em;

      .columns {
        flex-direction: row;
      }
    }

    table {
      h2 {
        padding-bottom: 1em;
      }
      td {
        display: table-row;
      }
    }

    .image-and-description, .image-then-text {
      flex-direction: column;

      div:first-of-type {
        padding: 0;
        padding-bottom: 1em;
        margin: 0;
      }
    }

    .also-note {
      padding: 0 5vw;
    }

    .pics3, .digital3 {
      > div {
        width: 90%;
        margin: auto;
        height: auto;
        margin-bottom: 1em;
      }
    }

    .grey-cards {
      flex-direction: column;

      .grey-card {
        margin-bottom: 2em !important;

        p {
          padding: 1em;
        }
      }
    }

    .alternate-bg {
      padding: 3em 0;

      .columns > * {
        margin: 0px 5vw 3em 5vw !important;
      }

      .strong-quote {
        padding-top: 1em;
      }
    }

    .persona {
      width: 70vw !important;
      margin: auto;

      h4 {
        @include font-size(14.5);
      }

      &.persona-other .persona-group {
        flex-direction: column;

        .persona-one {
          margin: auto;
          height: initial;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .table-1 {
      width: 100%;

      h4 {
        text-align: left;
        padding-bottom: 0.5em;
      }

      tr {
        display: block;
        padding-bottom: 1.5em;
      }
    }

    .palette > div {
      @include font-size(13);
      padding: 4vw 2.8vw;
    }

    .framed {
      height: 21vw !important;
      margin: 1em 0;
    }

    .flow {
      padding: 0 4vw;
      height: auto;
      margin-top: -1.8em;

      img {
        width: 100% !important;
      }
    }

    .pics6 > * {
      width: calc(33% - 4vw);
      flex: unset;
    }

    .wrap-5 > * {
      width: calc(50% - 10vw);
      margin-left: 5vw;
      margin-right: 5vw;
      flex: unset;
    }

    .photos2 {
      margin-top: -3em;

      > *:first-child {
        transform: rotate(-9deg) translateX(2vw) translateY(3em) scale(1.01);
        z-index: 2;
      }
    }

    .directed-tiles {
      .directed-tile {
        font-size: 2.9vw;
        line-height: 1.5em;

        > * {
          padding: 2vw;
          margin: auto;
        }
      }

      .arrow {
        flex: 1;
        height: 0px;
        margin: auto;

        &::before {
          right: 0px;
        }
      }
    }

    blockquote {
      margin-top: 20vw;

      q {
        @include font-size(14.5);
        padding: 0;
        line-height: 1.7em;
      }

      .quote-line {
        height: 45px;
      }

      small {
        @include font-size(13);
      }
    }

    #final {
      .final-row {
        margin-bottom: 7em;
        flex-direction: column;
        width: 100% !important;
        margin-left: 0 !important;

        .fpics {
          margin: auto 5vw !important;
          margin-bottom: 2em !important;
        }

        .ftext {
          margin: auto !important;

          .fblabla {
            margin-bottom: 0 !important;
          }
        }
      }
    }

    #proto:not([static]) {
      h3 {
        display: none;
      }
    }
  }

  #progress {
    bottom: -2px;
    height: 2px;
    div {height: 2px;}
  }

  .scene {
    height: 68vw !important;
    img {object-fit: cover !important;}
  }

  #menu {
    display: none;
  }
}

