@import 'common.scss';

main {
  padding: 62px 0;
  max-width: none;
  overflow: hidden;
}

.missing, missing {
  display: block;
  background: #ccc;
  color: black;
  padding: 10px;
  font-size: 12px;
  border-radius: 4px;
  max-width: 40vw;
  margin: auto;
  min-height: 3em;
  opacity: 0.3;
  border: 0;
  padding: 0;
  box-shadow: inset 0 2px 6px -2px #00000096;
}

#uncommon {
  #banner {
    background: $p-uncommon;
  }
}

#bigsur {
  #banner {
    background: $p-bigsur;
  }
}

#banner {
  color: white;
  height: 380px;
  display: flex;

  #banner-text {
    width: 60%;
    padding: 5em 4vw 5em 9vw;

    h1 {
      font-size: 2.5em;
      color: inherit;
      padding: 0;
      padding-bottom: 1.2em;
      text-align: left;
      letter-spacing: 1.5px;
    }

    p {
      font-size: 1.25em;
      padding-bottom: 2.2em;
      letter-spacing: 0.8px;
    }

    button {
      background: none;
      border: 1px solid white;
      color: white;
      border-radius: 8px;
      padding: 10px 14px;
      font-size: 1.25em;
      margin-bottom: 2em;
    }

  }

  #banner-img {
    flex: 1;
    display: flex;

    img {
      width: 50vw;
      height: 100%;
      margin: auto;
      object-fit: contain;
    }
  }

  #banner-prev, #banner-next {
    width: 100px;
    font-size: 13px;
    padding: 3em 10px;
    white-space: nowrap;
    position: relative;
    cursor: pointer;
    opacity: 0.5;
    transition: opacity 300ms;
    color: white;

    &::before {
      content: '';
      position: absolute;
      height: 0;
      width: 0;
      transform: scaleY(2.5);
      top: 11.6em;
      border: 50px solid transparent;
      opacity: 0.2;
      transition: opacity 300ms;
    }

    &:hover {
      opacity: 1;
    }

    &:hover::before {
      opacity: 0.4;
    }
  }

  #banner-prev::before {
    left: -1.9em;
    border-right-color: white;
  }

  #banner-next::before {
    right: -1.9em;
    border-left-color: white;
  }
}

[under-1000] {
  display: none;
}

i {font-style: italic;}

.project-content {
  @include font-size(15);

  h1 {
    @include uppercase();
    @include font-size(22);
    color: $primary;
    padding: 2.5em;
    text-align: center;
    font-weight: 500;
  }

  h2 {
    @include uppercase();
    @include font-size(17);
    font-weight: 600;
    padding: 0;
    text-align: left;
    color: $grey-main;
  }

  h3 {
    @include uppercase();
    font-weight: 600;
    padding: 0;
    text-align: left;
    color: $grey-main;
    font-size: 1em;
    position: relative;
    margin-top: 4em;
    margin-bottom: 2em;
    margin-left: 4vw;
    margin-right: 4vw;

    &::before {
      content: " ";
      width: 100px;
      height: 3px;
      background: #ec7357;
      position: absolute;
      top: -10px;
      left: 0;
      border-radius: 10px;
    }

    sub {
      @include font-size(15);
    }
  }

  h4 {
    font-weight: 500;

    sub {
      @include font-size(15);
    }
  }

  h3 sub, h4 sub {
    text-transform: initial;
    font-weight: normal;
    position: relative;
    display: block;
    top: -22px;
    max-width: 46vw;
    left: calc(14vw + 160px);
    padding: 0;
  }

  h1 + h3 {
    margin-top: 0;
  }

  section {
    padding: 0;
    max-width: 1300px;
    margin: auto;
  }

  .flow {
    width: 21em;
    margin: auto;
    margin-bottom: -2em;
    position: relative;
    top: -2em;

    &.longflow {
      width: 29em;
    }
  }

  [pad] {
    padding: 1em;
  }

  [shrink] {
    padding: 0 12vw;
  }

  [shrink2] {
    padding: 0 8vw;
  }

  [shrink3], section > h4 {
    margin-left: 4vw;
    margin-right: 4vw;
  }

  .also-note {
    padding: 0 12vw;
  }

  .big-pic {
    padding: 0 10vw;
    max-width: 70em;
    margin: auto;
  }

  hr {
    border: 0;
    border-bottom: 1px solid #c8c5c9;;
    position: relative;
    width: 94%;
    margin-top: 4em;
  }

  .alternate-bg {
    background: #eeefef;
    padding: 4em 0;
  }

  .overview-text {
    width: 50%;
    flex: unset !important;
  }

  .setup {
    padding-left: 8vw;
    h2 {
      @include font-size(16);
    }
    .rows {
      padding-bottom: 2em;
      min-width: 12vw;
    }
  }

  .columns {
    display: flex;
    flex-direction: row;
    flex: 1;
    > * {
      flex: 1;
    }

    &.valign > * {
      margin-top: auto;
      margin-bottom: auto;
    }

    &.halign > * {
      margin-left: auto;
      margin-right: auto;
    }

    h3 sub {
      max-width: 28vw;
      left: 140px;
    }
  }

  .wrap-6, .wrap-5 {
    flex-wrap: wrap;
    display: flex;
    > * {
      flex: 1;
      margin: 0 1vw;
    }

    ul {
      margin: 0;
      padding: 0;
      ul {
        margin-top: 1.5em;
        margin-bottom: 2em;
        li {
          padding: 1em 0;
        }
      }
    }
  }

  .rows {
    display: flex;
    flex-direction: column;
    flex: 1;
    > * {
      flex: 1;
    }
  }

  .children-spaced > * {
    margin-left: 1em;
    margin-right: 1em;
  }

  .image-and-description {
    display: flex;

    div:first-of-type {
      padding-right: 2em;
      padding-top: 4vw;
    }
  }

  .image-then-text {
    display: flex;

    > * {
      flex: 1;
    }

    div:first-of-type {
      flex: 1.5;
      margin-right: 4em
    }
  }

  ul {
    li {
      margin: -12px 0;
      padding: 12px 0px 0px 22px;
      list-style: none;
      background-image: url("../projects/common/littlearrow.png");
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 15px;
    }

    ul {
      padding-left: 1em;
      font-size: 0.9em;

      li {
        padding-bottom: 0.4em;
        background: none;

        &::first-letter {
          color: $primary;
          font-weight: 600;
          padding-right: 4px;
        }
      }
    }

    li {
      padding-bottom: 0.8em;
    }
  }

  .grey-cards {
    max-width: 800px;
    margin: auto;
    display: flex;

    &.large-cards {
      max-width: none;

      .grey-card {
        margin: 0 1vw;
      }
    }
  }

  .grey-card {
    background: #eeefef;
    margin: 0 3vw;
    flex: 1;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 2px 6px -1px #6b6b6b;

    > * {
      padding: 1em;
    }

    h4 {
      padding: 0.6em;
      text-align: center;
      font-weight: 400;
      background: #8b9094;
      color: white;
      margin: 0;
    }

    p {
      padding: 2em 1em;
    }
  }

  .grey-card-orange-title {
    background: #dee0e0;
    border-radius: 2px;
    overflow: hidden;
    box-shadow: 0px 2px 6px -1px #6b6b6b;
    width: 24vw;
    min-width: 19em;
    margin: auto;

    > * {
      padding: 1em;
    }

    h4 {
      @include font-size(18);
      padding: 0.6em;
      text-align: center;
      font-weight: 400;
      background: $primary;
      color: white;
      margin: 0;
    }

    ul ul {
      padding: 0;
      padding-bottom: 1em;
    }
  }

  .orange-quote {
    color: $primary;
    font-weight: 500;
    @include font-size(17);
    text-align: center;
    padding-top: 2em;
  }

  .important-p {
    display: flex;
    padding: 0 3vw;

    h4 {
      @include font-size(19);
      font-weight: 600;
      padding-right: 1em;
    }

    div {
      font-weight: 500;
    }
  }

  .orange-card {
    background: $primary-tr;
    color: white;
    display: flex;
    padding: 1em;

    > h4 {
      font-weight: 600;
      color: inherit;
      text-transform: initial;
      margin: 0;
      padding-left: 2em;
      padding-right: 2em;
    }

    > div {
      flex: 1;
      padding-right: 2em;
    }

    strong {
      font-weight: 600;
    }
  }

  .persona {
    position: relative;
    margin: auto;
    margin-bottom: 2em;

    h4 {
      position: absolute;
      display: inline-block;
      text-align: right;
      width: 100%;
      left: calc(-100% - 1em);
    }
    div {
      position: relative;
      height: 100%;
    }
    img {
      height: 100%;
    }

    &.persona-main {
      width: 40vw;
      padding-bottom: 1em;
    }

    &.persona-other {

      .persona-group {
        margin: auto;
        display: flex;
        flex: unset;
      }

      .persona-one {
        height: 24vw;
        margin: 0 calc(2.5vw + 1.5em);
      }

      img {
        width: auto;
      }
    }
  }

  .quote {
    background: #fc8b76;
    color: white;
    font-size: 20px;
    padding: 1.5em;
    text-align: center;
    margin: 1em 0em;
  }

  .table-1 {
    width: 60vw;
    margin: auto;

    h4 {
      text-align: right;
    }

    td {
      padding: 1.2em;
    }
  }

  .palette {
    color: white;
    display: flex;
    padding: 1em 2vw;

    > div {
      flex: 1;
      margin: 2px;
      display: inline-block;
      padding: 1vw 0vw;
      text-align: center;
      font-size: 1vw;
    }
  }

  img {
    width: 100%;
    height: auto;
    cursor: pointer;
    transform: scale(1);
    transition: transform 200ms;

    &:hover {
      transform: scale(1.05);
    }

    &[todo] {
      background: $primary;
    }
  }

  .framed {
    padding: 0.4vw 1vw;
    background: white;
    box-shadow: 0 2px 4px -1px #bbb;
    width: auto;
    height: 20vw;
    max-height: 250px;
    flex: 1;
    display: flex;
    object-fit: contain;
  }

  .pics3 {
    > * {
      margin: 1em 1vw;
    }

    // img[src] {
    //   height: 26vw;
    //   object-fit: contain;
    // }
  }

  .pics2 > * {
    margin: 1em 3vw;
  }

  .photos2 > * {
    margin: 0em 2.5vw;
  }
}

@media screen and (max-width: 1000px) {
  [under-1000] {
    display: initial;
  }

  .project-content {
    .wrap-6 > * {
      width: calc(25% - 2vw);
      flex: unset;
    }
    .wrap-5 > * {
      width: calc(33% - 2vw);
      flex: unset;
    }
  }
}

@media screen and (max-width: 600px) {
  [not-phone] {
    display: none;
  }

  #banner {
    flex-direction: column;
    height: auto;

    #banner-text {
      width: initial;
      text-align: center;
      padding: 1.5em 1em 0 1em;

      h1 {
        @include font-size(26);
        text-align: center;
      }

      p {
        @include font-size(15);
      }

      button {
        @include font-size(13);
      }
    }

    #banner-img {
      img {
        width: 90%;
      }
    }
  }

  .project-content {
    h1 {
      @include font-size(16);
    }

    .columns {
      flex-direction: column;

      > * {
        width: unset;
        flex: 1;
      }

      h3 sub {
        max-width: none;
        left: 0;
      }

      h3 + h3 {
        margin-top: 1em;
        &::before {
          content: none;
        }
      }
    }

    .setup {
      padding: 0;
      padding-top: 2em;
      padding-left: 2em;

      .columns {
        flex-direction: row;
      }
    }

    table {
      h2 {
        padding-bottom: 1em;
      }
      td {
        display: table-row;
      }
    }

    .image-and-description, .image-then-text {
      flex-direction: column;

      div:first-of-type {
        padding: 0;
        padding-bottom: 1em;
        margin: 0;
      }
    }

    .also-note {
      padding: 0 8vw;
    }

    .pics3 {
      > div {
        width: 90%;
        margin: auto;
        padding-bottom: 1em;
      }
    }

    h4 {
      padding-left: 0 !important;
    }

    h3 sub, h4 sub {
      top: 0.5em;
      margin-bottom: 0.5em;
      left: 0;
      max-width: none;
      margin-left: 0 !important;
    }

    .grey-cards {
      flex-direction: column;

      .grey-card {
        margin-bottom: 2em !important;

        p {
          padding: 1em;
        }
      }
    }

    .important-p {
      padding-bottom: 2em;
    }

    .persona {
      width: 52vw !important;
      padding-bottom: 1em;
      margin: auto;
      margin-left: 30%;

      &.persona-other .persona-group {
        flex-direction: column;

        .persona-one {
          margin: auto;
          height: initial;
          padding-bottom: 1em;

          img {
            width: 100%;
            height: auto;
          }
        }
      }
    }

    .table-1 {
      width: 100%;

      h4 {
        text-align: left;
        padding-bottom: 0.5em;
      }

      tr {
        display: block;
        padding-bottom: 1.5em;
      }
    }

    .palette > div {
      @include font-size(13);
      padding: 4vw 2.8vw;
    }

    .framed {
      height: 42vw;
      margin: 1em 2em;
    }

    .flow {
      width: 80% !important;
    }

    .wrap-6 > * {
      width: calc(33% - 2vw);
      flex: unset;
    }

    .wrap-5 > * {
      width: calc(50% - 2vw);
      flex: unset;
    }
  }
}
